composer.phar
/vendor/
/log
/app/config/database.php
/app/config/salt.php
.idea/
/public/uploads/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
