/*
*************** LAYOUT *****************
 */

.container {
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 50px;
}

/*
*************** MENU *****************
 */

.main-menu {
  position: fixed;
  bottom: 0;
  top: 0;
  min-width: 250px;
  background: #333333;
  color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-title {
  display: block;
  color: #DDDDDD;
  padding: 20px;
  background: #252525;
}

.main-title h1 {
  margin: 0;
}

.main-title:hover {
  color: #32cc7f;
  text-decoration: none;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  color: #dddddd;
  padding: 10px 20px;
  border-right: 5px solid #333333;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s ;
  -ms-transition: ease 0.2s ;
  -o-transition: ease 0.2s ;
  transition: ease 0.2s ;
}

.menu li a:hover {
  background: #252525;
  text-decoration: none;
  color: #32cc7f;
  border-right: 5px solid #32cc7f;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s ;
  -ms-transition: ease 0.2s ;
  -o-transition: ease 0.2s ;
  transition: ease 0.2s ;
}

/*
*************** FOOTER *****************
 */

footer.main-footer {
  margin-top: 20px;
  padding: 10px;
  border-top:2px solid #DDD;
}

/*
*************** JOUEURS *****************
 */

.players-list tbody tr td {
vertical-align: middle;
}

.players-list .player-photo {
  height: 30px;
}

/*
*************** REDEFINE BOOTSTRAP *****************
 */

.btn-primary {
  background-color: #32cc7f;
  border: #32cc7f;
}
