/*
*************** LAYOUT *****************
 */

.container {
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 50px;
}

/*
*************** MENU *****************
 */

.main-menu {
  position: fixed;
  bottom: 0;
  top: 0;
  min-width: 250px;
  background: #333333;
  color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-title {
  display: block;
  color: #DDDDDD;
  padding: 20px;
  background: #252525;
}

.main-title h1 {
  margin: 0;
}

.main-title:hover {
  color: #32cc7f;
  text-decoration: none;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  color: #dddddd;
  padding: 10px 20px;
  border-right: 5px solid #333333;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s ;
  -ms-transition: ease 0.2s ;
  -o-transition: ease 0.2s ;
  transition: ease 0.2s ;
}

.menu li a:hover {
  background: #252525;
  text-decoration: none;
  color: #32cc7f;
  border-right: 5px solid #32cc7f;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s ;
  -ms-transition: ease 0.2s ;
  -o-transition: ease 0.2s ;
  transition: ease 0.2s ;
}

/*
*************** FOOTER *****************
 */

footer.main-footer {
  margin-top: 20px;
  padding: 10px;
  border-top:2px solid #DDD;
}

/*
*************** JOUEURS *****************
 */

.players-list tbody tr td {
vertical-align: middle;
}

.players-list .player-photo {
  height: 30px;
}

.player-info .player-photo {
  width: 250px;
}

.player-info textarea {
  width: 500px;
  max-width: 500px;
  height: 100px;
}

.player-card {
  display: block;
  padding: 0px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

.player-card .photo {
  display: block;
  max-width: 300px;
  height: 300px;
  overflow: hidden;
}

.player-card .photo img {
  height: 100%;
}
/*
*************** MATCHS *****************
 */

.matchs-list .date {
  color: #9d9d9d;
  font-style: italic;
}

.match, .match-reverse {
  display: flex;
  flex-direction: row;
}

.match-reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.match div,
.match-reverse div {
  display: flex;
  justify-content: space-between;
  flex: 10;
}

.match-reverse div {
  flex-direction: row-reverse;
}

.match div {
  flex-direction: row;
}

.matchs-list .between
{
  width: 20px;
  flex: 1;
}

.match-view-vs .match div,
.match-view-vs .match-reverse div {
  display: flex;
  justify-content: center;
  flex: 10;
}

/*
*************** STATS *****************
 */

.stat-matchs .col {
  text-align: center;
}

/*
*************** REDEFINE BOOTSTRAP *****************
 */

.btn-primary {
  background-color: #32cc7f;
  border: #32cc7f;
}

div.divider {
  height: 2px;
  background: #DDDDDD;
  display: block;
  margin: 20px 0;
}

